
@{
    ViewBag.Title = "Show";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="pull-left">Settings</h2>
            <a href="#" class="btn btn-primary btn-lg pull-right">Go To Wait List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Business Information (your customers will see this)
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Business Name</dt>
                        <dd>The City Brewery</dd>
                        <dt>Phone Number</dt>
                        <dd>(602) 890-3306</dd>
                    </dl>
                    <a href="#" class="btn btn-default btn-block">
                        <i class="fa fa-edit"></i>
                        Edit Business Information
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sign In Information
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Email Address</dt>
                        <dd>citybrewery@gmail.com</dd>
                        <dt>Password</dt>
                        <dd>
                            &#9679;	&#9679;	&#9679;	&#9679;	&#9679;	&#9679;	&#9679;	&#9679;
                        </dd>
                    </dl>
                    <a href="#" class="btn btn-default btn-block">
                        <i class="fa fa-edit"></i>
                        Edit Sign In Information
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Text Messages
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Welcome Text Message</dt>
                        <dd><em>Hey it's The City Brewery! You've been added to our wait list. You can see your place in line at <a href="#">https://plumlist.com/q/4l3oj6ny</a></em></dd>
                        <dt>Ready Text Message</dt>
                        <dd><em>It's The City Brewery. We're ready for you.</em></dd>
                    </dl>
                    <a href="#" class="btn btn-default btn-block">
                        <i class="fa fa-edit"></i>
                        Edit Text Messages
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

