.jumbo {
    color: #eee !important;
    text-align: center;
    margin-top: -23px;
    padding: 4em 0 4em 0;
    background-image: url('/Content/Images/table.jpg');
    background-color: darken($brand-primary, 15%);
    background-position: center top;
    background-blend-mode: multiply;

    h1 {
        &.big {
            font-size: 8em;
        }
        color: #fff;
    }

    p {
        color: #eee;
        &.lead {
            margin: auto;
            margin-bottom: 2em;
        }
        a {
          color: #eee;
        }
    }
}
