<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="nwebsec">
      <!-- For information on how to configure NWebsec please visit: https://docs.nwebsec.com/ -->
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.allowedUsers" value="1" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="UsePhysicalViewsIfNewer" value="true" />
    <add key="Version" value="0.0.1" />
    <add key="ReleaseProfile" value="Develoment" />
    <add key="EnableMiniProfiler" value="false" />
    <add key="App:Company" value="cd312f2e, LLC" />
    <add key="App:TextMessaging:PlivoPhoneNumber" value="16028421432" />
    <add key="App:TextMessaging:IsTest" value="false" />
    <add key="App:Email:ComapanyEmailAddress" value="john.s.wathen@gmail.com" />
    <add key="App:Email:IsTest" value="false" />
    <add key="App:QuotedWaitTimeOptions:Start" value="00:05:00" />
    <add key="App:QuotedWaitTimeOptions:End" value="03:00:00" />
    <add key="App:QuotedWaitTimeOptions:Increment" value="00:05:00" />
  </appSettings>
  <connectionStrings>
    <add name="Plum" connectionString="data source=(localdb)\mssqllocaldb;database=Plum;integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/page-not-found" />
      <error statusCode="500" redirect="~/error" />
    </customErrors>
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
    <sessionState cookieless="UseCookies" mode="InProc" timeout="60" cookieName=".session_id" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="~/account/sign-in/" defaultUrl="~/" name=".auth" protection="All" requireSSL="true" slidingExpiration="true" timeout="129600" />
    </authentication>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="Redirect" path="/page-not-found" />
      <remove statusCode="500" />
      <error statusCode="500" responseMode="Redirect" path="/error" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="FileVersionUrl">
          <match url="([\S]+)(/v-[\-0-9]{10,}/)([\S]+)" />
          <action type="Rewrite" url="{R:1}/{R:3}" />
        </rule>
        <rule name="Manifest">
          <match url="^manifest.json$" />
          <action type="Rewrite" url="manifest" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="plum" />
    <security allowRemoteAccess="true" />
  </elmah>
  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="App_Data/NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
      <redirectValidation enabled="true">
        <allowSameHostRedirectsToHttps enabled="true" httpsPorts="44373,443" />
      </redirectValidation>
      <securityHttpHeaders>
        <x-Frame-Options policy="Deny" />
        <x-Content-Type-Options enabled="true" />
        <content-Security-Policy enabled="true">
          <report-uri enabled="true">
            <add report-uri="https://plumtable.report-uri.io/r/default/csp/enforce" />
          </report-uri>
          <default-src self="true" />
          <connect-src enabled="true" self="true">
            <add source="wss://localhost:44373/" />
            <add source="wss://plumlist.azurewebsites.net/" />
          </connect-src>
          <script-src enabled="true" self="true" unsafeInline="true" unsafeEval="true">
            <add source="https://ajax.googleapis.com/" />
            <add source="https://maxcdn.bootstrapcdn.com/" />
            <add source="https://ajax.aspnetcdn.com/" />
            <add source="https://cdnjs.cloudflare.com/" />
            <add source="https://www.google-analytics.com/" />
          </script-src>
          <style-src enabled="true" unsafeInline="true" self="true">
            <add source="https://maxcdn.bootstrapcdn.com/" />
            <add source="https://fonts.googleapis.com/" />
          </style-src>
          <img-src enabled="true" self="true">
            <add source="https://www.google-analytics.com/" />
          </img-src>
          <font-src enabled="true" self="true">
            <add source="https://fonts.googleapis.com/" />
            <add source="https://fonts.gstatic.com/" />
            <add source="https://maxcdn.bootstrapcdn.com/" />
          </font-src>
          <form-action enabled="true" self="true" />
          <upgrade-insecure-requests enabled="true" />
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>