<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="UsePhysicalViewsIfNewer" value="false" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="ReleaseProfile" value="Production" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"  key="EnableMiniProfiler" value="false" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="App:TextMessaging:IsTest" value="false" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>