@model Plum.ViewModels.Business.BusinessInformationViewModel

<dl class="dl-horizontal">
    <dt>Business Name</dt>
    <dd>@Model.Name</dd>
    <dt>Phone Number</dt>
    @if (Model.HasPhoneNumber())
    {
        <dd>@Html.PhoneNumber(Model.PhoneNumber)</dd>
    }
    else
    {
        <dd>None</dd>
    }
</dl>
<a href="#" class="btn btn-default btn-block" 
   data-ajax-load="true" 
   data-ajax-load-target="#BusinessInformationPanel"
   data-ajax-load-url="@Url.Action(MVC.Business.EditBusinessInformation(Model.Id))">
    <i class="fa fa-edit"></i>
    Edit Business Information
</a>