@model Plum.ViewModels.Business.TextMessagesViewModel

<dl class="dl-horizontal">
    <dt>Welcome Text Message</dt>
    <dd><em>@Model.SampleWelcomeMessage</em></dd>
    <dt>Ready Text Message</dt>
    <dd><em>@Model.SampleReadyMessage</em></dd>
</dl>
<a href="#" class="btn btn-default btn-block">
    <i class="fa fa-edit"></i>
    Edit Text Messages
</a>