@{
    ViewBag.Title = "Not Authorized";
}

<div class="container">
    <h2>About</h2>
    <h3>Attributions</h3>    
    <p>jquery touch punch - <a href="http://touchpunch.furf.com/">http://touchpunch.furf.com/</a></p>
</div>