@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row jumbo">
        <div class="col-md-12">
            <h1 class="big hidden-xs hidden-sm">
                @Html.ApplicationName()
            </h1>
            <h1 class="hidden-md hidden-lg">
                @Html.ApplicationName()
            </h1>
            <p class="lead">
                Keep your customers up to date with this FREE service by taking advantage of the technology they're already using.
            </p>
            <p>
                <a href="@Url.Action(MVC.Account.SignUp())" class="btn btn-primary btn-lg">
                    Sign Up
                </a>
                <span class="lead-separator">or</span>
                <a href="#">
                    Learn How It Works
                </a>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center">
                <i class="fa fa-calendar"></i>
            </h3>
            <h4 class="text-center">Plan Your Staffing</h4>
            <p class="text-justify">
                Get accurate wait times based on historical averages to learn when your true busy periods are. Save money by making sure you're not over-staffed. Get average wait times by day of the week
                and trended graphs to help you manage your staff, shorten waits, and increase profits.
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">
                <i class="fa fa-user"></i>
            </h3>
            <h4 class="text-center">Keep your Host Greeting</h4>
            <p class="text-justify">
                You want your host to greet guests upon arrival, and that's hard to do if they're tracking down guests! Table's Ready lets the host stay at their station and not worry about chasing
                customers or collecting abandoned (expensive!) pagers. Make your customers feel welcome with Table's Ready
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">
                <i class="fa fa-cutlery"></i>
            </h3>
            <h4 class="text-center">Stop Losing Walk Aways</h4>
            <p class="text-justify">
                Texting customers frees them from waiting on top of the host stand. Crowds by the front door are big deterrents to potential guests, and there is nothing worse than losing a customer. Table's Ready keeps your doorways clear and your tables full.
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">
                <i class="fa fa-mobile"></i>
            </h3>
            <h4 class="text-center">Engage Your Patrons</h4>
            <p class="text-justify">
                A text can pass on more than "Your table is ready" - it's customizable and lets you highlight specials, promote events, or even link to social media pages like Facebook and Twitter. Old pagers were an annoyance, Table's Ready is part of the experience.
            </p>
        </div>
    </div>
</div>

