.jumbo {
    color: gray !important;
    text-align: center;
    margin-top: -23px;
    padding: 4em 0 4em 0;
    background-image: url('/Content/Images/bears_original.jpg');
    background-color: $brand-jumbo;
    background-position: 34% 49%;
    background-blend-mode: multiply;

    h1 {
        &.big {
            font-size: 8em;
            font-weight: 200;
        }
        color: #fff;
    }

    p {
        color: #eee;
        &.lead {
            margin: auto;
            margin-bottom: 2em;
        }
        a {
          color: #eee;
        }
    }

    .lead-separator {
        margin: 0 0.4em 0 0.4em;
    }
}
