.history {
    margin-top: 1em;
    border-right: 1px solid lightgray;
    overflow: scroll;
    max-height: 10em;
}

#businessViewQueueList {
    li.list-group-item {
        cursor: pointer;
    }
}
