@model Plum.Models.Queue
@{ 
    Layout = null;
}

@if (Model.Customers.Count == 0)
{
    <p>
        There are no customers waiting.
    </p>
}
else if (Model.Customers.Count > 1)
{
    <p class="text-muted">
        You can rearrange this list by dragging parties.
    </p>
}
<ul class="list-group text-center">
    @foreach (var customer in Model.OrderedCustomers())
    {
        <li class="list-group-item" data-manage-customer-id="@customer.Id">
            @customer.Name (@customer.NumberInParty) - Waited @customer.TimeWaitedWords()
        </li>
    }
</ul>