$plum: #5d4865;
$brand-primary: $plum;
$brand-info: #2196F3;
$gray-light: #a6a6a6;

.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
    .close {
        color: #468847 !important;
    }
}

.alert-danger {
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
    .close {
        color: #b94a48 !important;
    }
} 

@import "PaperVariables.scss";
@import "bootstrapsource/_bootstrap.scss";
@import "Paper.scss";
@import "LoadingOverlay.scss";

.brand-font {
    font-family: 'Great Vibes', cursive;
}

.list-group-item-active {
    background-color: $brand-primary;
    color: white;
}

.field-validation-error {
    color: $brand-danger;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border-bottom: none;
    @include box-shadow(inset 0 -2px 0 $brand-danger);
}

select.input-validation-error {
    border-bottom: none;
    @include box-shadow(inset 0 -2px 0 $brand-danger);
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    ul {
        padding: 0;
    }

    li {
        color: $brand-danger;
        list-style: none;
    }
}

.validation-summary-valid {
    display: none;
}

.button-stack {
  .btn {
    margin-bottom: 1em;
  }
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
    .modal-dialog {
        padding: 10px;
    }
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.text-center {
    text-align: center !important;
}

.modal-header {
    padding: 15px 15px 0 15px;
}

.home {
    @import "Home/Index.scss";
}

.queue.queue-show {
    @import "Queue/Show.scss";
}

.business.business-show {
    @import "Business/Show.scss";
}


.app-icon {
    height: 512px; 
    width: 512px; 
    background-color: $plum;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 16em;
    text-align: center;
    line-height: 1em;
    padding-top: 70px;
    margin-bottom: 50px;
    span {
        margin-left: -21px;
        margin-right: 27px;
    }
}