@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row jumbo">
        <div class="col-md-12">
            <h1 class="big hidden-xs hidden-sm">
                @Html.ApplicationName()
            </h1>
            <h1 class="hidden-md hidden-lg">
                @Html.ApplicationName()
            </h1>
            <p class="lead">
                Keep your customers up to date with this FREE service by taking advantage of the technology they're already using.
            </p>
            <p>
                <a href="@Url.Action(MVC.Account.SignUp())" class="btn btn-primary btn-lg">
                    Sign Up
                </a>
                <span class="lead-separator">or</span>
                <a href="#">
                    Learn How It Works
                </a>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center brand-secondary">
                <i class="fa fa-calendar"></i>
            </h3>
            <h4 class="text-center brand-secondary">Plan Your Staffing</h4>
            <p class="text-justify">
                Maecenas dapibus sed felis quis dapibus. Donec urna nunc, posuere ac purus vitae, pharetra interdum enim. Nullam nisl neque, dictum eget nunc eget, scelerisque sagittis augue. Nam id efficitur lacus, vel gravida arcu. Mauris congue nisi nec turpis commodo semper. In rutrum diam ut mollis mollis. Nam lectus enim, ornare et urna quis, egestas malesuada augue.
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="text-center brand-secondary">
                <i class="fa fa-user"></i>
            </h3>
            <h4 class="text-center brand-secondary">Keep your Host Greeting</h4>
            <p class="text-justify">
                Cras tempor tellus a magna dictum, non consectetur est tincidunt. Nullam lobortis risus at placerat ultricies. Fusce nec euismod nibh. Vestibulum cursus turpis non nisi congue semper. Fusce gravida tempor ex nec venenatis. Integer eleifend eros in turpis fringilla semper. Suspendisse tempor mauris accumsan sapien ornare eleifend.
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="text-center brand-secondary">
                <i class="fa fa-cutlery"></i>
            </h3>
            <h4 class="text-center brand-secondary">Stop Losing Walk Aways</h4>
            <p class="text-justify">
                Mauris maximus lorem vel tellus tristique aliquet. Aliquam ut bibendum lacus. Vestibulum sit amet purus tincidunt dui sodales fringilla eget quis nunc. Phasellus venenatis interdum tellus ac commodo. Fusce ultrices non lectus et pellentesque.
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="text-center brand-secondary">
                <i class="fa fa-mobile"></i>
            </h3>
            <h4 class="text-center brand-secondary">Engage Your Patrons</h4>
            <p class="text-justify">
                Nam suscipit iaculis pretium. Fusce blandit vulputate ipsum nec laoreet. Nulla egestas lorem at ante luctus, id mollis tortor finibus. Nulla sollicitudin, nisi vel vestibulum venenatis, dui turpis porta velit, in blandit diam arcu sit amet lectus. Donec dignissim sem vel volutpat posuere. Mauris ut mollis felis. Ut ut posuere ante. Maecenas eget ultricies velit. Sed a quam ut massa accumsan venenatis. Curabitur semper leo in eros ultrices auctor.
            </p>
        </div>
    </div>
</div>

